.login-section{
    background: #FFFFFF;
    width: 100%;
    height: 100vh;
    color: #fff;
}
.login-card{
    border-radius: 15px;
background: #FFFFFF;
box-shadow:  23px 23px 46px #bfbfbf, -23px -23px 46px #ffffff;
}
.login-section img{
    width: 350px;
    border-radius: 15px 0px 0px 15px;
}
.btn-login{
    border-radius: 30px;
    background: #FFFFFF;
    box-shadow:  5px 5px 10px #a6a6a6;
    /* padding: 0px 20px; */
    font-size: 25px;
}
.btn-login:hover {
    background: #d8fcff;


}
.btn-login img{
    width: 30px;
}