/* all font */
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

/* h1 font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800&display=swap');


*{
  margin: 0;
  padding: 0;
  font-family: 'Abel', sans-serif;
}
h1{
  font-family: 'Open Sans', sans-serif !important;
}
/* Custom css  */
.ls-2{
  letter-spacing: 2px;
}

.color-primary{
  color: #33CAD5;
}
.btn-custom{
  background: #33cad5 !important;
  border-radius: 30px !important;
  color: #fff !important;
  font-weight: bold !important;
  padding: 10px 30px !important;
}
.btn-custom:hover{
  background: #1a2639 !important;

}
.section-name {
  width: 25%;
  height: auto;   
  position: relative;
  z-index: 1;
  margin: 20px auto;
  padding: 20px;
  color:#726E97;
}
.section-name:before {
  content : "";
  position: absolute;
  bottom: 0;
  height: 10px;
  width: 50%;
  border-bottom: 3px solid #726E97;
}
