.product-details-section{
    background: #e0e0e0;
    width: 100%;
    height: 100vh;
}
.product-details-card{
    border-radius: 15px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}
.product-details-section img{
    width: 350px;
    border-radius: 15px 0px 0px 15px;
}
.pd-color span{
    width: 25px;
    height: 25px;
    display: inline-block;
    border-radius: 50%;
    margin-left: 15px;
}
.pd-color .pd-red{
    background-color: #ff304f;
}
.pd-color .pd-lightblue{
    background-color: #2f89fc;
}
.pd-color .pd-green{
    background-color: #15cda8;
}
.pd-color .pd-violet{
    background-color: #9764c7;
}
.pd-color .pd-salmon{
    background-color: #FA8072;
}
.pd-quantity button{
    color: #33cad5 ;

}
.pd-quantity input{
    width: 50px; 

}